.form-group {
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
}

.form-group label {
    font-weight: bolder;
}

.jumbotron {
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c6c6d1;
    border-radius: 15px;
}