.open_text {
  display: block;
  justify-content: center;
  text-align: center;
}

.text_bttn {
  float: left;
  text-align: center;
}

.speech_bttn {
  float: right;
  text-align: center;
}

button {
  size-adjust: inherit;
  overflow: visible;
}