// // * {
// // }

// button {
//   width: 100%;
//   display: block;
//   padding: 10px 22px;
//   color: rgb(10, 10, 10);
//   font-weight: bold;
//   cursor: pointer;
//   outline: none;
//   background: rgb(227, 240, 219);
//   ;
// }

.title {
  text-align: center;
}

textarea {
  min-width: 50vw;
  padding: 1em
}

.text-box {
  text-align: center;
  box-sizing: border-box;
  margin: 0em 2em;
}

.translation-box {
  display: show; // button id === 2 ? show : none
  text-align: center;
  box-sizing: border-box;
  margin: 0em 2em;
}

.bttn {
  margin: 2em;
  text-align: center;
}